body{
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 50px 30px auto;
}

.hidden {
    visibility: hidden;
    width: 0%;
    height: 0%;
    display: inline;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 380px;
}

header{
color: white;
background-color: black;
}

body > div{
    color: white;
    background-color: #464646;
}

form{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto auto;
}

form > * {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

form > div {
    background-color: lightgray;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul > li {
    margin: auto;
}

li > div {
    margin: 10px;
    background-color: lightgray;
    color: black;
    max-width: 450px;
    height: 100%;
}

li > div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

input[type=submit]{
    color: honeydew;
    background-color: black;
    width: 150px;
    margin-bottom: 25px;
}

.li-div {
    background-color: lightgray;
    margin-top: 20px;
}